@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto';
    background-color: aqua;
}
.head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head h1{
    margin: 2rem;
}
.head button{
    margin:2rem;
}
.input{
    border:2px solid black;
    border-radius: 20px;
    margin:auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px 0px;
}
.input input[type="text"]{
    width:70%;
    height:50px;
    font-size: 16px;
    padding:10px;
    outline: none;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid grey;
}
.input textarea{
    font-size: 16px;
    margin-top: 1rem;
    padding:20px;
    width:500px;
    height:300px;
    border-radius: 10px;
}
.input button{
    width:100px;
    padding:10px;
    margin-top: 1rem;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(233, 174, 65);
}

.note{
    width:100%;
    height: auto;
    margin:1rem 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.note h2{
    padding:10px;
}
.note .notehead{
    width:350px;
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    border-radius: 10px;
    margin:1rem;
}
.note .notehead .description{
    display: flex;
    width:300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.note .notehead .description .noteContent{
    width:100%;
}
.note .notehead button{
    width:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    margin: 0.5rem;
    cursor: pointer;
}
.note p{
    margin:0.5rem;
}
.note .notehead .savebutton {
    display: none;
}
.Deleteallnotes{
    cursor: pointer;
    color: white;
    width:150px;
    display: flex;
    justify-content: center;
    padding:10px;
    background-color: rgb(200, 36, 36);
    border-radius: 10px;
}

@media (min-width:1200px){
    .note{
        justify-content: flex-start;
    }
}